---
---

/*$base-font-family: HelveticaNeu;
$brand-color: orange;*/

/*$base-font-family: "Janson";*/
/*$base-font-family: "Kante";*/

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Add left sidebar image */
body {
  background-image: url('/assets/sunPetroWhite.png');
  background-repeat: no-repeat;
  background-position: calc(50% - 480px) 20px;
  background-attachment: fixed;
  background-size: 100px auto; /* adjust width as needed */
  
  font-size: 1rem; // 18px for a 16px root
  /*color: #959595;*/
  color: #d9d9d9;
}


h1, h2, h3 {
  color: #d9d9d9;
}
/* Add left margin to main content to prevent overlap */
.page-content {
  margin-left: 0px; /* slightly more than image width */
}

/* Responsive: hide on mobile */
@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }
  .page-content {
    margin-left: 0;
  }
}

@font-face {
  font-family: "Kante";
  src: url("/assets/fonts/Kante-Regular-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kante";
  src: url("/assets/fonts/Kante-Bold-Trial.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Saggi";
  src: url("/assets/fonts/Saggiv0.2DEMO-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Saggi";
  src: url("/assets/fonts/Saggiv0.2DEMO-Italic.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Janson";
  src: url("/assets/fonts/Janson MT Std Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
